@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "paper";
@import "font-awesome-sprockets";
@import "font-awesome";

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.content-enter {
  opacity: 0.01;
}

.content-enter.content-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.content-leave {
  opacity: 0.01;
}

.content-leave.content-leave-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
  opacity: 1;
  transform:   translate(0,0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
  opacity: 0;
  transform:   translate(250px,0);
  transform: translate3d(250px,0,0);
}

body {
  background-color: #e0ebeb;
}

.container-fluid, .container#login_box {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 20px;
}

.bg-info {
  background-color: #d9edf7;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

#current_page {
  background-color: #0073e6;
  font-weight: bold;
}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    -webkit-box-shadow: inset 0 -2px 0 #ddd;
    box-shadow: inset 0 -2px 0 #ddd;
}

.table > thead > tr > td.info,
.table > thead > tr > th.info,
.table > thead > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #bfe7fc;
}
