<ul class="nav navbar-nav">
  <li><%= link_to 'Simple', simple_path, id: ("current-page-#{Rails.env.downcase}" if params[:action] == 'index') %></li>
  <li><%= link_to 'Advanced', advanced_path, id: ("current-page-#{Rails.env.downcase}" if params[:action] == 'search') %></li>
</ul>
