<ul class="nav navbar-nav">
  <li><%= link_to 'Simple', root_path, id: ('current_page' if params[:action] == 'index') %></li>
  <li><%= link_to 'Advanced', search_path, id: ('current_page' if params[:action] == 'search') %></li>
</ul>
