<ul class="nav navbar-nav">
  <li><%= link_to 'Simple', simple_path, id: ('current_page' if params[:action] == 'simple') %></li>
  <li><%= link_to 'Advanced', advanced_path, id: ('current_page' if params[:action] == 'advanced') %></li>
</ul>
